.ce-header {
    font-weight: bold;
    line-height: 1.2;
    font-size: 3rem;
}

.ce header h1 {
    font-size: 1rem;
}

.ce header h2 {
    font-size: 2rem;
}

.ce header h3 {
    font-size: 1rem;
}

.ce-paragraph.cdx-block {
    font-size: 20px;
    width: 99%;
    max-width: 99%;
}





.codex-editor .ce-block__content,
.codex-editor .cdx-block {

    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    transition: all 6s ease;
    /* Subtle transition for smoother appearance */
}

.codex-editor .ce-block__content:focus,
.codex-editor .cdx-block:focus {
    outline: none;
}